@mixin h2-style {
  font: 700 22px 'Playfair Display';
  text-transform: uppercase;
  letter-spacing: 1.1px;
}
@mixin separator {
  content: "";
  width: 50px;
  height: 2px;
  position: absolute;
  display: block;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
@mixin title-content{
  text-align: center;
  font: 400 14px 'Playfair Display';
  letter-spacing: 1.05px;
  position: relative;
  padding-bottom: 15px;
}
@mixin footer-bot-style {
  font: 400 14px/26px 'Roboto';
  color: #ffffff;
  letter-spacing: 0.35px;
}
@mixin sn-style {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}