.our-clients-section{
  p {
    font: 700 22px 'Playfair Display';
    color: #413d4b;
    text-transform: uppercase;
    letter-spacing: 1.1px;
    margin-bottom: 40px;
  }
}
.clients-flex-wrappper {
  display: flex;
  justify-content: space-between;
}
.form-field {
  flex-basis: 450px;
      input {
        width: 100%;
        padding: 10px;
        margin-bottom: 20px;
        color: rgba(52, 152, 219, 1);
        font: 300 14px 'Roboto';
        letter-spacing: 0.7px;
        outline: none;
        border: 1px solid rgba(0 , 0 , 0 , 0.2);
         &:focus {
           border: 1px solid rgba(52, 152, 219, 1);
         }
      }
      textarea {
        @extend input;
        height: 200px;
        resize: none;
      }
}
.clients {
  flex-basis: 380px;
    .clients-list {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;
       li {
         margin-bottom: 40px;
         flex-basis: 150px;
         text-align: center;
       }
    }
}
::-webkit-input-placeholder {
  transition: opacity 0.3s ease;
}
:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}
.submit-button {
  padding: 10px 25px;
}