.works-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 70px;
    h2 {
      font: 700 22px 'Playfair Display';
      color: #413d4b;
      text-transform: uppercase;
      letter-spacing: 1.1px;
    }
    a {
      font: 300 14px 'Roboto';
      color: #413d4b;
      letter-spacing: .7px;
      span {
        position: relative;
        &::after {
          position: absolute;
          top: 0;
          bottom: 0;
          margin: auto;
          right: -12px;
          content: "";
          width: 8px;
          height: 13px;
          opacity: 0.8;
          background: url("../../images/right.png") no-repeat;
        }
      }
    }
}
.our-works-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 70px;
    li {
      width: 16.66667%;
      img {
        width: 100%;
        vertical-align: middle;
      }
    }
}



