.welcome-section {
  background: $gradient, url("../../images/background-img.png") no-repeat center center;
  background-size: 100% 100%;
  height: 100vh;
  position: relative;
}
.about-us {
  position: absolute;
  top: 43%;
  margin: auto;
  left: 0;
  right: 0;
  h2 {
    font: 900 32px 'Playfair Display' ,serif;
    color: #ffffff;
    text-align: center;
    position: relative;
    padding-bottom: 15px;
    &:after {
      @include separator;
      background-color: #00e0d0;
    }
  }
  & p {
    font: 300 14px/24px 'Roboto';
    max-width: 770px;
    color: #ffffff;
    text-align: center;
    letter-spacing: 0.6px;
    margin: 20px auto 50px auto;
  }
}
.align-button{
  text-align: center;
}
  .style-button {
    padding: 10px 12px;
    background-color: transparent;
    border: 1px solid #00e0d0;
    font: 400 16px "Hammersmith One";
    text-transform: uppercase;
    color: #00e0d0;
}
